---
layout: archive
title: "Github Projects"
permalink: /projects/
author_profile: true
---

{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}


<p>In addition, I've contributed to other projects:</p>
<ul>
  <li><a href="https://github.com/CTF-for-Science/ctf4science">ctf4science</a>: common task framework for the evaluation of machine learning methods.</li>
  <li><a href="https://github.com/ERMETE-Lab/MP-OFELIA">OFELIA</a>: multi-physics coupling between OpenMC and dolfinx.</li>
  <li><a href="https://github.com/ERMETE-Lab/MP-pyISFenix">pyISFenix</a>: Python routines for the Incompressible Schrodinger Flow (ISF).</li>
</ul>
